<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD6-yVIPk4U0WVMtmTlRSP-u4kZQE3fhaU</string>
	<key>GCM_SENDER_ID</key>
	<string>77060133172</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ylhe.SyncZone</string>
	<key>PROJECT_ID</key>
	<string>synczone-93311</string>
	<key>STORAGE_BUCKET</key>
	<string>synczone-93311.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:77060133172:ios:bab2600643c498da20d561</string>
</dict>
</plist>